<!DOCTYPE html>
<html lang="en">

    <head>
        <title>CMS Framework</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
        <link rel="stylesheet" href="./cms-core-view-static/styles/main.css">
        
        <script>
            // Russells note (11.06.2020)
            // The original code here is no longer correct for iOS 13 : the "passive" parameter changed on iOS13.
            // The following changes currently theoretically works on iOS13: i have tested it, and in practise its
            // ok, although there were still some odd conditions were occasionally zooming in / out was possible
            // (it seems to be if you do the zoom very quickly). I don't fully understand the issue yet. I also
            // have not tested these changes against older iOS versions (eg: iOS10) - its probably these changes
            // break compatibility. In any case, the correct solution moving forward is as follows:
            // 1) This code potentially doesn't belong in html, unless its critical that we execute it before any
            //    other code block
            // 2) We should be looking at actual device being run on - we can implement some iOS friendly hacks
            //    as I think it is only iOS that no longer respects the user-scale-no vaule), selected as appropriate
            //    according to the iOS version that we seem to be running on
            // 3) Default fallback would to be to not attempt this at all, i think, because an incorrectly implemented
            //    effort to prevent zooming is worse than no effort to prevent zooming

            // ANOTHER NOTE:
            // There isn't any argument for this being in index - its just a leftover from wieners original code.
            // Some of the "enable fullscreen" logic already got moved out of here. It should be in actual code,
            // where we can have multiple implementations (and pick the one that we require at runtime)

            document.documentElement.addEventListener(
                'touchstart',
                event =>
                {
                    // console.log(`game.html: Trying to zoom. Num touches = ${event.touches.length}`);
                    
                    if (event.touches.length > 1) {
                        event.preventDefault();
                    }
                },
                { passive: false });

            document.documentElement.addEventListener(
                'touchmove',
                event =>
                {
                    event = event.originalEvent || event;

                    if (event.scale > 1) {
                        event.preventDefault();
                    }
                },
                { passive:false });
        </script>
    </head>

    <body>
        <form><input id="input" type="number"></form>
        
        <!-- ContentContainer configures vertical centering (through its css rules) -->
        <!-- Content configures horizontal centering -->
        <div id="content-container">
            <div id="content"></div>
        </div>

        <!-- Standard libraries, required by all games -->
        <script src="./cms-core-view-static/scripts/TweenMax.min.js"></script>
        <script src="./cms-core-view-static/scripts/TimelineMax.min.js"></script>
        <script src="./cms-core-view-static/scripts/CustomEase.min.js"></script>
        <script src="./cms-core-view-static/scripts/pixi.min.js"></script>
        <script src="./cms-core-view-static/scripts/pixi-particles.js"></script>
        <script src="./cms-core-view-static/scripts/dragonBones.js"></script>

        
        
        <!-- Add an instance of VConsole if the build options require it -->
        <% if (htmlWebpackPlugin.options.useVconsole === true) { %>
        <script src="./cms-core-view-static/scripts/vconsole.min.js"></script>
        
        <!-- This can be removed for any build that we do not want it in -->
        <script>
            let vconsole = new VConsole();
        </script>
        <% } %>
        
        <script src="game.js"></script>

        <% if (htmlWebpackPlugin.options.buildPlatform === "sgdigital") { %>
        <!-- loads SG Digital specific libraries. In fact, this does a rather convoluted "dynamic" load of the libraries needed -->
        <!-- we conditionally compile this out of any build which is not for SG Digital. It must be available before the main -->
        <!-- game script is executed. Only include the sgdigital load libraries script, when its an sgdigital build -->
        <script type="text/javascript" src="./loadSgDigitalGcmLibrary.js"></script>
        <script>
            //loadGcmLibrary(
            //    () => startGameClient(),

            window.wmg.loadGcmLibrary(
                () => window.wmg.startGameClient(),
                err => console.error(err)
            );
        </script>
        <% } else { %>
        <script>
            // Standard loading procedure
            window.wmg.startGameClient();
            //startGameClient();
        </script>
        <% } %>
        
        <script src="./cms-core-view-static/scripts/swipe.js"></script>
    </body>
</html>