html
{
    background-image: url("../../game-static/assets/HTML_background.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

body
{
    height: 100%;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input
{
    position: fixed;
    font-size: 100px;
    top: -200px;
    display: none;
}

#content
{
    width: 100vw;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-container
{
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*.swipe {*/
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100vh;*/
    /*-webkit-box-pack: center;*/
    /*-webkit-justify-content: center;*/
    /*-ms-flex-pack: center;*/
    /*justify-content: center;*/
    /*-webkit-box-align: center;*/
    /*-webkit-align-items: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
    /*background: rgba(0, 0, 0, 0.4);*/
    /*!* pointer-events: none; *!*/
    /*z-index: 100;*/
    /*will-change: transform;*/
    /*transform: translateY(-9999%)*/
/*}*/

/*#test*/
/*{*/
    /*width: 100%;*/
    /*height: 2000px;*/
    /*background-color: rgba(0, 0, 0, 0);*/
    /*position: absolute;*/
/*}*/